---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dave Martinez</title>
	</head>
	<style>
		.title {
			margin-top: 60px;
			text-align: center;
		}
	</style>
	<body>
		<h1 class="title">Dave Martinez</h1>
	</body>
</html>
